* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    box-sizing: border-box;
}

/*HEADER*/

.imagen-fondo {
    width: 100%;
    height: 1160px;
}

.titulo-header {
    font-size: 60px;
    margin-top: -1000px;
    margin-left: 200px;
    color: white;
    font-weight: bold;
}

.lista-header {
    list-style: none;
    display: flex;
    color: white;
    font-size: 28px;
    margin-top: -44px;
    margin-left: 420px;
    cursor: pointer;
}

.contenido-lista-header {
    margin-left: 50px;
}

.lista-nav {
    all: unset;
}

.logo {
    width: 80px;
    height: 80px;
    color: white;
    margin-top: -60px;
    margin-left: 2000px;
}

h1 {
    color: white;
    font-size:160px;
    margin-left: 395px;
    padding-top: 210px;
    line-height: -15px;
}

.subtitulo {
    color: white;
    font-size: 50px;
    font-weight: 200;
    margin-left: 640px;
    margin-top: 40px;
}

/*SECTION1*/

.subtitulo-section1 {
    color: #062B6E;
    font-size: 100px;
    margin-top: 400px;
    margin-left: 240px;
}

.texto-subtitulo-section1 {
    color: #062B6E;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 240px;
}

.lista-section1 {
    list-style: none;
    display: flex;
    color: #062B6E;
    font-size: 30px;
    margin-top: -200px;
    margin-left: 1000px;
}

.contenido-lista-section1 {
    margin-left: 100px;
    margin-top: -10px;
}

.contenedor-imagen {
    margin-left: 1080px;
}

.logo-section1 {
    width: 80px;
    height: 80px;
    margin: 48px;
    margin-top: 20px;
    margin-left: 78px;
}

/*SECTION2 DESARROLLO WEB*/

.subtitulo-section2 {
    color: #062B6E;
    font-size: 45px;
    float: right;
    margin-top: 380px;
    margin-right: 780px;
}

.imagen-section2 {
    width: 700px;
    height: 500px;
    border-radius: 11px;
    float: left;
    margin-top: 380px;
    margin-left: 450px;
    border: 2px solid rgb(208, 212, 216);
}

.texto-desarrollo-web {
    color: black;
    font-size: 20px;
    margin-top: 100px;
    margin-right: 510px;
    float: right;
}

/*SECTION3 MARKETING DIGITAL*/

.subtitulo-section3 {
    color: #062B6E;
    font-size: 40px;
    float: left;
    margin-top: 820px;
    margin-left: -700px;
}

.imagen-section3 {
    width: 700px;
    height: 500px;
    border-radius: 11px;
    float: right;
    margin-top: 360px;
    margin-right: 500px;
    border: 2px solid rgb(208, 212, 216);
}

.texto-marketing-digital {
    color: black;
    font-size: 20px;
    margin-top: 550px;
    margin-left: 450px;
    float: left;
}

/*SECTION4 DISEÑO UX UI*/

.subtitulo-section4 {
    color: #062B6E;
    font-size: 40px;
    float: right;
    margin-top: 1210px;
    margin-right: -300px;
}

.imagen-section4 {
    width: 700px;
    height: 500px;
    border-radius: 11px;
    float: left;
    margin-top: 570px;
    margin-left: 400px;
    border: 2px solid rgb(208, 212, 216);
}

.texto-diseño-ux-ui {
    color: black;
    font-size: 20px;
    margin-top: 500px;
    margin-right: 550px;
    float: right;
}

/*SECTION5 DESARROLLO DE APPS*/

.subtitulo-section5 {
    color: #062B6E;
    font-size: 40px;
    float: left;
    margin-top: 1220px;
    margin-left: -700px;
}

.imagen-section5 {
    width: 700px;
    height: 500px;
    border-radius: 11px;
    float: right;
    margin-top: 620px;
    margin-right: 530px;
    border: 2px solid rgb(208, 212, 216);
}

.texto-desarrollo-de-apps {
    color: black;
    font-size: 20px;
    margin-top: 550px;
    margin-left: 400px;
    float: left;
}

/*SECTION6 PERFIL DE PROGRAMADORES*/

/*Contenedor perfil1*/

.titulo-perfil-programadores {
    display: flex;
    font-size: 55px;
    color: #062B6E;
    margin-top: 3850px;
    margin-left: 800px;
}

.contenedor1-perfil-programadores {
    width: 350px;
    height: 400px;
    background-color: rgb(242, 242, 242);
    margin-top: 80px;
    margin-left: 300px;
    margin-bottom: 80px;
    border-radius: 10px;
}

.foto-programador, .foto-programador2, .foto-programador3,
.foto-programador4, .foto-programador5, .foto-programador6,
.foto-programador7, .foto-programador8, .foto-programador9,
.foto-programador10, .foto-programador11, .foto-programador12 {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 85px;
}

.nombre-programador, .nombre-programador2, .nombre-programador3,
.nombre-programador4, .nombre-programador5, .nombre-programador6,
.nombre-programador7, .nombre-programador8, .nombre-programador9,
.nombre-programador10, .nombre-programador11, .nombre-programador12 {
    font-size: 25px;
    margin-top: 60px;
    margin-left: 130px;
}

.portafolio-programador, .portafolio-programador2, .portafolio-programador3,
.portafolio-programador4, .portafolio-programador5, .portafolio-programador6,
.portafolio-programador7, .portafolio-programador8, .portafolio-programador9,
.portafolio-programador10, .portafolio-programador11, .portafolio-programador12 {
    text-decoration: none;
    color: #062B6E;
    font-size: 16px;
    margin-left: 145px;
}

/*Contenedor perfil2*/

.contenedor2-perfil-programadores{
    width: 350px;
    height: 400px;
    background-color: rgb(242, 242, 242);
    margin-top: -480px;
    margin-left: 730px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/*Contenedor perfil3*/

.contenedor3-perfil-programadores{
    width: 350px;
    height: 400px;
    background-color: rgb(242, 242, 242);
    margin-top: -410px;
    margin-left: 1160px;
    margin-bottom: 80px;
    border-radius: 10px;
}

/*Contenedor perfil4*/

.contenedor4-perfil-programadores{
    width: 350px;
    height: 400px;
    background-color: rgb(242, 242, 242);
    margin-top: -480px;
    margin-left: 1600px;
    margin-bottom: 80px;
    border-radius: 10px;
}

/*Contenedor perfil5*/

.contenedor5-perfil-programadores{
    width: 350px;
    height: 400px;
    background-color: rgb(242, 242, 242);
    margin-top: 10px;
    margin-left: 300px;
    border-radius: 10px;
}

/*Contenedor perfil6*/

.contenedor6-perfil-programadores{
    width: 350px;
    height: 400px;
    background-color: rgb(242, 242, 242);
    margin-top: -400px;
    margin-left: 730px;
    margin-bottom: 80px;
    border-radius: 10px;
}

/*Contenedor perfil7*/

.contenedor7-perfil-programadores{
    width: 350px;
    height: 400px;
    background-color: rgb(242, 242, 242);
    margin-top: -480px;
    margin-left: 1160px;
    margin-bottom: 80px;
    border-radius: 10px;
}

/*Contenedor perfil8*/

.contenedor8-perfil-programadores{
    width: 350px;
    height: 400px;
    background-color: rgb(242, 242, 242);
    margin-top: -480px;
    margin-left: 1610px;
    margin-bottom: 80px;
    border-radius: 10px;
}

/*Contenedor perfil9*/

.contenedor9-perfil-programadores{
    width: 350px;
    height: 400px;
    background-color: rgb(242, 242, 242);
    margin-top: 80px;
    margin-left: 300px;
    margin-bottom: 80px;
    border-radius: 10px;
}

/*Contenedor perfil10*/

.contenedor10-perfil-programadores{
    width: 350px;
    height: 400px;
    background-color: rgb(242, 242, 242);
    margin-top: -480px;
    margin-left: 740px;
    margin-bottom: 80px;
    border-radius: 10px;
}

/*Contenedor perfil11*/

.contenedor11-perfil-programadores{
    width: 350px;
    height: 400px;
    background-color: rgb(242, 242, 242);
    margin-top: -480px;
    margin-left: 1160px;
    margin-bottom: 80px;
    border-radius: 10px;
}

/*Contenedor perfil12*/

.contenedor12-perfil-programadores{
    width: 350px;
    height: 400px;
    background-color: rgb(242, 242, 242);
    margin-top: -480px;
    margin-left: 1610px;
    margin-bottom: 250px;
    border-radius: 10px;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 260px;
    background-color: dimgray;
}

.contenedor-imagenes-footer {
    margin-left: 550px;
}

.imagen-logo-footer {
    width: 75px;
    height: 75px;
    margin-top: 95px;
    margin-left: 165px;
}

.texto-footer {
    color: white;
    font-size: 22px;
    margin-top: 50px;
    margin-left: 940px;
}

/*MEDIA QUERIES*/
/*Computador*/
@media (max-width: 1024px) {
    .imagen-fondo {
        height:720px;
    }

    .titulo-header {
        font-size: 24px;
        margin-top: -650px;
        margin-left: 60px;
    }

    .lista-header {
        font-size: 16px;
        margin-left: 100px;
        flex-direction: row;
        align-items: flex-start;
    }

    .contenido-lista-header {
        margin-left: 18px;
        margin-top: 5px;
    }

    .logo {
        width: 40px;
        height: 40px;
        margin-left: 900px;
    }

    h1 {
        font-size: 60px;
        margin-left: 200px;
        padding-top: 160px;
    }

    .subtitulo {
        font-size: 20px;
        margin-left: 270px;
    }

    .subtitulo-section1 {
        font-size: 40px;
        margin-left: 380px;
        margin-top: 300px;
    }

    .texto-subtitulo-section1 {
        font-size: 18px;
        margin-left: 300px;
    }

    .lista-section1 {
        flex-direction: row;
        margin-left: 120px;
        margin-top: 20px;
        font-size: 20px;
    }

    .contenido-lista-section1 {
        margin-left: 60px;
        margin-top: 20px;
    }

    .contenedor-imagen {
        margin-left: 220px;
    }

    .logo-section1 {
        width: 50px;
        height: 50px;
        margin-left: 24px;
    }

    .subtitulo-section2,
    .subtitulo-section3,
    .subtitulo-section4,
    .subtitulo-section5 {
        font-size: 30px;
        text-align: center;
        margin: 20px auto;
        margin-top: 140px;
        float: none;
    }

    .imagen-section2,
    .imagen-section3,
    .imagen-section4,
    .imagen-section5 {
        width: 60%;
        height: auto;
        margin: 0 auto;
        float: none;
        display: block;
    }

    .texto-desarrollo-web,
    .texto-marketing-digital,
    .texto-diseño-ux-ui,
    .texto-desarrollo-de-apps {
        font-size: 16px;
        margin: 40px 270px;
        float: none;
        text-align: justify;
    }

    .titulo-perfil-programadores {
        font-size: 30px;
        margin-left: 200px;
        margin-top: 200px;
    }

    .contenedor1-perfil-programadores,
    .contenedor2-perfil-programadores,
    .contenedor3-perfil-programadores,
    .contenedor4-perfil-programadores,
    .contenedor5-perfil-programadores,
    .contenedor6-perfil-programadores,
    .contenedor7-perfil-programadores,
    .contenedor8-perfil-programadores,
    .contenedor9-perfil-programadores,
    .contenedor10-perfil-programadores,
    .contenedor11-perfil-programadores,
    .contenedor12-perfil-programadores {
        width: 90%;
        height: 250px;
        margin: 20px auto;
    }

    .foto-programador,
    .foto-programador2,
    .foto-programador3,
    .foto-programador4,
    .foto-programador5,
    .foto-programador6,
    .foto-programador7,
    .foto-programador8,
    .foto-programador9,
    .foto-programador10,
    .foto-programador11,
    .foto-programador12 {
        margin: 50px 50px;
    }

    .nombre-programador, .nombre-programador2, .nombre-programador3, .nombre-programador4, .nombre-programador5, .nombre-programador6,
    .nombre-programador7, .nombre-programador8, .nombre-programador9, .nombre-programador10, .nombre-programador11, .nombre-programador12 {
        margin-top: -170px;
        margin-left: 400px;
    }
    .portafolio-programador, .portafolio-programador2, .portafolio-programador3, .portafolio-programador4, .portafolio-programador5, .portafolio-programador6,
    .portafolio-programador7, .portafolio-programador8, .portafolio-programador9, .portafolio-programador10, .portafolio-programador11, .portafolio-programador12   {
        margin-left: 400px;
    }

    footer {
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .contenedor-imagenes-footer {
        margin: 0 auto;
        margin-left: -40px;
    }

    .imagen-logo-footer {
        margin: 10px auto;
        margin-left: 70px;
    }

    .texto-footer {
        font-size: 14px;
        margin: 10px auto;
    }
}

/*Tablet*/

@media (max-width: 768px) {
    .imagen-fondo {
        height: 600px;
    }

    .titulo-header {
        font-size: 28px;
        margin-top: -570px;
        margin-left: 20px;
    }

    .lista-header {
        font-size: 14px;
        margin-left: 50px;
        flex-direction: row;
        align-items: flex-start;
    }

    .contenido-lista-header {
        margin-left: 10px;
        margin-top: 5px;
    }

    .logo {
        width: 40px;
        height: 40px;
        margin-left: 700px;
    }

    h1 {
        font-size: 60px;
        margin-left: 70px;
        padding-top: 100px;
    }

    .subtitulo {
        font-size: 20px;
        margin-left: 150px;
    }

    .subtitulo-section1 {
        font-size: 40px;
        margin-left: 260px;
        margin-top: 300px;
    }

    .texto-subtitulo-section1 {
        font-size: 18px;
        margin-left: 170px;
    }

    .lista-section1 {
        flex-direction: row;
        margin-left: 70px;
        margin-top: 20px;
        font-size: 17px;
    }

    .contenido-lista-section1 {
        margin-left: 40px;
        margin-top: 20px;
    }

    .contenedor-imagen {
        margin-left: 155px;
    }

    .logo-section1 {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    .subtitulo-section2,
    .subtitulo-section3,
    .subtitulo-section4,
    .subtitulo-section5 {
        font-size: 30px;
        text-align: center;
        margin: 20px auto;
        margin-top: 140px;
        float: none;
    }

    .imagen-section2,
    .imagen-section3,
    .imagen-section4,
    .imagen-section5 {
        width: 90%;
        height: auto;
        margin: 0 auto;
        float: none;
        display: block;
    }

    .texto-desarrollo-web,
    .texto-marketing-digital,
    .texto-diseño-ux-ui,
    .texto-desarrollo-de-apps {
        font-size: 16px;
        margin: 40px 140px;
        float: none;
        text-align: justify;
    }

    .titulo-perfil-programadores {
        font-size: 30px;
        margin-left: 200px;
        margin-top: 200px;
    }

    .contenedor1-perfil-programadores,
    .contenedor2-perfil-programadores,
    .contenedor3-perfil-programadores,
    .contenedor4-perfil-programadores,
    .contenedor5-perfil-programadores,
    .contenedor6-perfil-programadores,
    .contenedor7-perfil-programadores,
    .contenedor8-perfil-programadores,
    .contenedor9-perfil-programadores,
    .contenedor10-perfil-programadores,
    .contenedor11-perfil-programadores,
    .contenedor12-perfil-programadores {
        width: 90%;
        height: 250px;
        margin: 20px auto;
    }

    .foto-programador,
    .foto-programador2,
    .foto-programador3,
    .foto-programador4,
    .foto-programador5,
    .foto-programador6,
    .foto-programador7,
    .foto-programador8,
    .foto-programador9,
    .foto-programador10,
    .foto-programador11,
    .foto-programador12 {
        margin: 50px 50px;
    }

    .nombre-programador, .nombre-programador2, .nombre-programador3, .nombre-programador4, .nombre-programador5, .nombre-programador6,
    .nombre-programador7, .nombre-programador8, .nombre-programador9, .nombre-programador10, .nombre-programador11, .nombre-programador12 {
        margin-top: -170px;
        margin-left: 400px;
    }
    .portafolio-programador, .portafolio-programador2, .portafolio-programador3, .portafolio-programador4, .portafolio-programador5, .portafolio-programador6,
    .portafolio-programador7, .portafolio-programador8, .portafolio-programador9, .portafolio-programador10, .portafolio-programador11, .portafolio-programador12   {
        margin-left: 400px;
    }

    footer {
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .contenedor-imagenes-footer {
        margin: 0 auto;
        margin-left: -40px;
    }

    .imagen-logo-footer {
        margin: 10px auto;
        margin-left: 70px;
    }

    .texto-footer {
        font-size: 14px;
        margin: 10px auto;
    }
}

/*Celular*/

@media (max-width: 375px) {
    .imagen-fondo {
        height: 400px;
    }

    .titulo-header {
        font-size: 24px;
        margin-top: -350px;
        margin-left: 20px;
        text-align: left;
    }

    .lista-header {
        visibility: hidden;
    }

    .contenido-lista-header {
        margin-left: 0;
        margin-top: 10px;
    }

    .logo {
        width: 35px;
        height: 35px;
        margin-bottom: 100px;
        margin-left: 300px;
    }

    h1 {
        font-size: 28px;
        margin-left: 20px;
        margin-top: -140px;
        text-align: center;
    }

    .subtitulo {
        font-size: 14px;
        margin-left: 20px;
        margin-top: 20px;
        text-align: center;
    }

    .subtitulo-section1 {
        font-size: 30px;
        margin-left: 10px;
        margin-top: 200px;
        text-align: center;
    }

    .texto-subtitulo-section1 {
        font-size: 14px;
        margin-left: 30px;
        text-align: justify;
    }

    .lista-section1 {
        flex-direction: row;
        margin-left: -40px;
        align-items: center;
        font-size: 14px;
    }

    .contenido-lista-section1 {
        margin-left: 20px;
        margin-top: 10px;
    }

    .contenedor-imagen {
        margin-left: 42px;
        width: 100%;
    }

    .logo-section1 {
        width: 30px;
        height: 30px;
        margin-left: -10px;
    }

    .subtitulo-section2,
    .subtitulo-section3,
    .subtitulo-section4,
    .subtitulo-section5 {
        font-size: 20px;
        text-align: center;
        margin: 10px auto;
        float: none;
    }

    .imagen-section2,
    .imagen-section3,
    .imagen-section4,
    .imagen-section5 {
        width: 90%;
        height: auto;
        margin: 0 auto;
        float: none;
        display: block;
    }

    .texto-desarrollo-web,
    .texto-marketing-digital,
    .texto-diseño-ux-ui,
    .texto-desarrollo-de-apps {
        font-size: 14px;
        margin: 10px auto;
        float: none;
        text-align: justify;
    }

    .titulo-perfil-programadores {
        font-size: 20px;
        margin-left: 27px;
        text-align: center;
    }

    .contenedor1-perfil-programadores,
    .contenedor2-perfil-programadores,
    .contenedor3-perfil-programadores,
    .contenedor4-perfil-programadores,
    .contenedor5-perfil-programadores,
    .contenedor6-perfil-programadores,
    .contenedor7-perfil-programadores,
    .contenedor8-perfil-programadores,
    .contenedor9-perfil-programadores,
    .contenedor10-perfil-programadores,
    .contenedor11-perfil-programadores,
    .contenedor12-perfil-programadores {
        width: 90%;
        height: 130px;
        margin: 20px auto;
    }

    .foto-programador,
    .foto-programador2,
    .foto-programador3,
    .foto-programador4,
    .foto-programador5,
    .foto-programador6,
    .foto-programador7,
    .foto-programador8,
    .foto-programador9,
    .foto-programador10,
    .foto-programador11,
    .foto-programador12 {
        margin: 25px 40px;
        width: 80px;
        height: 80px;
    }

    .nombre-programador, .nombre-programador2, .nombre-programador3, .nombre-programador4, .nombre-programador5, .nombre-programador6,
    .nombre-programador7, .nombre-programador8, .nombre-programador9, .nombre-programador10, .nombre-programador11, .nombre-programador12 {
        margin-top: -95px;
        margin-left: 180px;
        font-size: 17px;
    }
    .portafolio-programador, .portafolio-programador2, .portafolio-programador3, .portafolio-programador4, .portafolio-programador5, .portafolio-programador6,
    .portafolio-programador7, .portafolio-programador8, .portafolio-programador9, .portafolio-programador10, .portafolio-programador11, .portafolio-programador12   {
        margin-left: 180px;
        font-size: 15px;
    }

    footer {
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .contenedor-imagenes-footer {
        margin: 0 auto;
    }

    .imagen-logo-footer {
        width: 40px;
        height: 40px;
        margin: 10px 20px;
    }

    .texto-footer {
        font-size: 12px;
        margin: 10px auto;
    }
}




