* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.imagen-fondo {
    width: 100%;
    height: 928px;
}

.titulo-header {
    font-size: 40px;
    margin-top: -870px;
    margin-left: 230px;
    color: white;
    font-weight: bold;
}

.lista-header {
    list-style: none;
    display: flex;
    color: white;
    font-size: 20px;
    margin-top: -27px;
    margin-left: 700px;
    cursor: pointer;
}

.contenido-lista-header {
    margin-left: 50px;
}

.logo {
    width: 50px;
    height: 50px;
    color: white;
    margin-top: -40px;
    margin-left: 1600px;
}

h1 {
    color: white;
    font-size: 100px;
    margin-left: 410px;
    padding-top: 210px;
    line-height: -15px;
}

.subtitulo {
    color: white;
    font-size: 30px;
    font-weight: 200;
    margin-left: 575px;
    margin-top: 40px;
}

/*Section1*/

.subtitulo-section1 {
    color: #062B6E;
    font-size: 80px;
    margin-top: 400px;
    margin-left: 160px;
}

.texto-subtitulo-section1 {
    color: #062B6E;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 160px;
}

.lista-section1 {
    list-style: none;
    display: flex;
    color: #062B6E;
    font-size: 20px;
    margin-top: -200px;
    margin-left: 830px;
}

.contenido-lista-section1 {
    margin-left: 100px;
    margin-top: 40px;
}

.contenedor-imagen {
    margin-left: 930px;
}

.logo-section1 {
    width: 70px;
    height: 70px;
    margin: 48px;
    margin-top: 20px;
}

/*Section2 desarrollo web*/

.subtitulo-section2 {
    color: #062B6E;
    font-size: 40px;
    float: right;
    margin-top: 290px;
    margin-right: 120px;
}

.contenedor-section2 {
    width: 550px;
    height: 380px;
    background-color: rgb(231, 231, 231);
    border: 2px solid rgb(231, 228, 228);
    border-radius: 8px;
    margin-top: 380px;
    float: right;
    margin-right: -300px;
}

.imagen-section2 {
    width: 100%;
    height: 290px;
    border-radius: 8px 8px 0px 0px;
}

.texto-contenedor-section2 {
    margin-top: 20px;
    margin-left: 20px;
    color: black;
    font-size: 26px;
}

.link-section2 {
    text-decoration: none;
    color: #062B6E;
    margin-left: 20px;
}
